/***************************************************************************************************************************/
/************** define colors and font ************/
:root 
{
  --background: #e0c9a5;
  --orange: #fec767;
  --orangeTransparent: hsla(37, 63%, 64%, 0.726);
  --white: #ffffff;
  --green: #4CAF50;
  --borderGreen: #2a8b03;
  --shadowGreen: rgba(5, 201, 64, 0.5);
  --grey: #6e6e6e;
  --gold: #ddb067;
  --dark: #0F172B;
  --font-1: "Poppins", sans-serif;
  --font-2: 'system-ui';
  --font-3: 'Rockwell', serif;
}
/************** scrollbar style ************/
::-webkit-scrollbar 
{
  width: 8px;
  background-color: var(--borderGreen);
}
::-webkit-scrollbar-thumb 
{
  background-color: var(--orange);
  border-radius: 10px;
}
/***************************************************************************************************************************/
/************** body style ************/
body
{
  width: 100%;
  height: 100%;
  padding: 0%;
  padding-left: 0%;
  padding-top: 0%;
  align-items: center;
  background-position: center;
  background-color: var(--background);
  background-size: cover;
  overflow-x: hidden;
}
/************** all buttons ************/
button
{
  display: inline-block;
  background-color: var(--dark);
  font-size: 15px;
  font-family: var(--font-2);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  opacity: 0.8;
}
button:hover  
{
  opacity: 1;
  border-radius: 15px;
  transform: scale(1);
  font-size: 15.5px;
}
/************** scrolling Images ************/
#dynamicImageCover 
{
  top: 0%;
  left: 0;
  width: 101%;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -99;
  filter: brightness(0.7) contrast(120%);
}
/***************************************************************************************************************************/
/************** header Style ************/
header 
{
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 99.9%;
  top:0%;
  left: 0%;
  height: 10%;
  padding: 0 20px;
  background-color: var(--orange);
  z-index: 1;
}
/************** section of logo ************/
.sectionGauche
{
  display: inline-flex;
  align-items: center;
}
#logo
{
  width: 40%;
  height: 70%;
  margin-left: 2%;
  margin-top: 1%;
}
/************** section of menu ************/
.menu ul
{
  display: inline-flex;
  list-style: none;
  align-items: center;
  margin-left: -60%;
}
.menu ul li
{
  margin: 5%;
}
.menu ul li a
{
  text-decoration: none;
  color: var(--borderGreen);
  opacity: 0.9;
  font-family: var(--font-2);
  font-size: 18px;
}
.menu ul li a:hover
{
  font-weight: bold;
  opacity: 1;
}
/***************************************************************************************************************************/
/************** paragraph explore in the middle ************/
.exploreWilaya
{
  margin-top: 10%;
  margin-left: 7%;
  font-family: var(--font-3);
}
.exploreWilaya::after 
{
  content: "";
  position: absolute;
  top: 23%;
  left: 35%;  
  width: 56%;
  height: 2px; 
  background-color: var(--orange); 
}
.exploreWilaya h2 b
{
  font-size: 40px;
  font-style: normal;
  color: var(--orange);
}
.exploreWilaya h2 
{
  font-style: italic;
  font-size: 35px;
  color: var(--green);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.exploreWilaya p
{
  color: var(--dark);
  background-color: var(--orangeTransparent);
  font-size: 20px;
  margin: -38% 50% 5% 5%;
  padding: 2%;
  box-shadow: 0 20px 20px 20px rgba(0, 0, 0, 0.2);
}
/************** photo slider explore in the middle ************/
.photoSlider 
{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0% 10% 3% 50%;
  border-radius: 5px;
  height: 520px;
}
.photoSlider img 
{
  width: 100%;
  height: 300px;
  margin-bottom: 2%;
}
/***************************************************************************************************************************/
/************** packs in the packs section ************/
.packs
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin-top: -40%;
  margin-left: 10%;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.pack 
{
  position: relative;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 300px;
  margin-bottom: 5%;
  border-radius: 20px;
  background-color: var(--white);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.pack:hover 
{
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.pack img 
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pack .packName
{
  position: absolute;
  width: 30%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  background-color: var(--orange);
  border-top-right-radius: 50px;
  opacity: 0.9;
}
.pack .packName h3 
{
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  font-family: var(--font-2);
  font-weight: bold;
  color: var(--dark);
  text-transform: uppercase;
  opacity: 1;
}
.pack .packName p
{
  font-size: 15px;
  font-weight: 500;
  font-family: var(--font-3);
  margin: 0;
  color: var(--dark);
  text-transform: uppercase;
}
.pack .packInfo
{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 30%;
  background-color: var(--orange);
  transition: all 0.5s ease-in-out;
  opacity: 0;
}
.packDescription 
{
  position: absolute;
  color: var(--dark);
  font-family: var(--font-2);
}
.packDescription h4
{
  font-size: 20px;
  margin-top: -80%;
  margin-left: 40%;
}
.packDescription h6
{
  font-size: 15px;
  margin-top: -15%;
}
.packDescription p
{
  position: absolute;
  top: -20%;
  margin-left: 95%;
}
.pack:hover .packInfo 
{
  opacity: 1;
  transform: translateY(0%);
}
/************** button pack in the packs section ************/
.buttonPack
{
  position: absolute;
  margin-left: 15%;
  margin-top: 8%;
  padding: 2% 3%;
  background-color: var(--green);
  font-size: 15px;
  font-family: var(--font-1);
  color: var(--white);
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.buttonPack:hover 
{
  opacity: 1;
  transform: scale(1);
  border-bottom: 2px solid var(--borderGreen);
  box-shadow: 0 5px 5px var(--shadowGreen);
}
/***************************************************************************************************************************/
/************** cards: places ************/
.cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: -25%;
  margin-left: 10%;
  box-shadow: 0 10px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.card
{
  position: relative;
  flex: 25%;
  margin: 2%;
  background-color: var(--orange);
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  border-radius: 20px;
}
.card img 
{
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.cardInfo
{
  padding: 5%;
  text-align: center;
}
.cardInfo a
{
  text-decoration: none;
} 
.cardInfo h3 
{
  margin-top: -35%;
  margin-left: 50%;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: var(--font-2);
  color: var(--white);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cardInfo .border-line
{
  position: relative;
  border-bottom: 2px solid var(--green);
  border-width: 3px;
  width: 30%;  
  margin: 8% 0% 20% 60%;
}
.cardInfo .card-text
{
  color: var(--dark);  
  font-size: 17px;
  margin-bottom: 1%;
}
.cardInfo button a
{
  text-decoration: none;
  color: var(--white);
  font-size: 15px;
}
/************** cards: transport/hebergement/restaurant  ************/
#transport { margin-top: -55%; } 
#hebergement { margin-top: 5%; } 
#restaurant { margin-top: 2%; }
.card h1
{
  background-color: var(--orangeTransparent);
  padding: 2%;
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 20%;
  font-size: 50px;
  font-family: var(--font-3);
  color: var(--borderGreen);
  text-align: center;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
#transport .cardInfo .card-text,
#hebergement .cardInfo .card-text,
#restaurant .cardInfo .card-text
{
  margin-top: -15%;
  margin-bottom: 2%;
}
#transport .cardInfo .card-text li,
#hebergement .cardInfo .card-text li,
#restaurant .cardInfo .card-text li 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: -15%;
  font-family: var(--font-2);
  font-size: 15px;
}
#transport .cardInfo .card-text li h6,
#hebergement .cardInfo .card-text li h6,
#restaurant .cardInfo .card-text li h6 
{
  margin-right: 5%;
  font-size: 18px;
}
#restaurant .card h1
{
  margin-top: 5%;
}
#restaurant .card h3
{
  margin-top: -45%;
}