:root
{
    --background:#e0c9a5;
    --header:hsl(38, 99%, 70%);
    --headerScroll:hsla(37, 63%, 64%, 0.726);
    --white: #ffffff;
    --green: #4CAF50;
    --borderGreen: rgb(42, 139, 3);
    --shadowGreen: rgba(5, 201, 64, 0.5);
    --grey: rgba(255, 255, 255, 0.5);
    --gold: #ddb067;
    --black: #000;
}
* {
    font-family: 'Rockwell', serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar 
{
    width: 7px;
    scrollbar-color: var(--header);
}
::-webkit-scrollbar-thumb 
{
    background-color: var(--green);
    border-radius: 10px;
}
body 
{
    align-items: center;
    background-image: url(images/reserverPack.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
button
{
    background-color: var(--green);
    font-size: 15px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    opacity: 0.8;
}
button:hover  
{
    opacity: 1;
    border-radius: 15px;
    transform: scale(1);
    border-bottom: 2px solid var(--borderGreen);
    box-shadow: 0 5px 5px var(--shadowGreen);
}
header
{
    display: flex;
}
.sectionGauche
{
    display: inline-flex;
    align-items: center;
}
#logo
{
    width: 40%;
    height: 70%;
}
/***************************************************************************************************************************/
.reservationForm 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form 
{
    padding: 2% 1%;
    width: 80%;
    background-color: var(--headerScroll);
    color: var(--black);
    border-radius: 20px;
    border-color: var(--gold);
    border: 3px solid var(--gold);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#title
{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;
    padding: 1%;
    color: var(--white);
    font-size: 30px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.514);
}
label 
{
    display: block;
    margin-top: 3%;
    margin-left: 0;
    margin-bottom: 2%;
    font-weight: bold;
}
input
{
    align-items: center;
    width: 35%;
    margin-left: 2%; 
    line-height: 2.5; 
    border-radius: 10px;
    border: none;
    font-size: 15px;
    opacity: 0.7;
}
input:focus, input:hover
{
    opacity: 1;
    width: 35.1%;
    outline: none;
}
/***************************************************************************************************************************/
.leftInput
{
    margin-left: 10%;
    margin-bottom: 1%;
}
/***************************************************************************************************************************/
.rightInput
{
    position: relative;
    margin-left: 50%;
    margin-bottom: 5%;
}
.rightInput label
{
    margin-left: 5%;
}
.accompagner
{
    margin-top: -85%;
    display: flex;
    align-items: center;
}
.accompagner h4
{
    margin-right: 15%;
}
.accompagner input[type="radio"] 
{
    display: inline-block;
    margin-left: -10%;
    margin-right: 10%;
    margin-bottom: 5%;
    vertical-align: middle;
    color: var(--gold);
}
.accompagnerChoice
{
    position: absolute;
    padding: 2% 1%;
    width: 25%;
    margin-top: -25%;
    left: 86%;
    background-color: var(--gold);
    border-radius: 15px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 999;
    overflow-y: auto;
}
.accompagnerChoice label
{
    text-align: center;
}
.accompagnerChoice input
{
    width: 25%;
    padding: 1%;
    margin-left: 20%;
    margin-right: 2%;
}
.accompagnerChoice button
{
    padding: 3% 10%;
    margin-top: 2%;
    margin-bottom: 3%;
}
.accompagnerChoice table 
{
    border-collapse: collapse;
    width: 100%;
}
.accompagnerChoice thead 
{
    background-color: var(--white);
    opacity: 0.8;
}
.accompagnerChoice table th, .accompagnerChoice table td 
{
    padding: 2%;
    margin-bottom: 1%;
    text-align: left;
    border: 2px solid var(--white);
}
.accompagnerChoice table th
{
    font-weight: bold;
    border: 2px solid var(--white);
}
.accompagnerChoice table input
{
    width: 96%;
    margin-left: 0;
    font-weight: bold;
    border: 2px solid var(--white);
}
#wilaya, #categorie, #type, #includedOption
{
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 2%;
    font-size: 15px;
    line-height: 2; 
    border-radius: 10px;
    border: none;
    outline: none;
    width: 35%;
    background-color: var(--white);
    opacity: 0.8;
}
#wilaya option, #categorie option, #type option, #includedOption option
{
    font-size: 13px;
    background-color: var(--white);
}
#submit 
{
    position: relative;
    display: block;
    padding: 2% 5%;
    margin-left: 43%;
}