:root 
{
  --background: #e0c9a5;
  --orange: #fec767;
  --orangeTransparent: hsla(37, 63%, 64%, 0.726);
  --white: #ffffff;
  --green: #4CAF50;
  --borderGreen: #2a8b03;
  --shadowGreen: rgba(5, 201, 64, 0.5);
  --grey: #6e6e6e;
  --gold: #ddb067;
  --dark: #0F172B;
  --font-1: "Poppins", sans-serif;
  --font-2: 'system-ui';
  --font-3: 'Rockwell', serif;
}
::-webkit-scrollbar 
{
    width: 7px;
    scrollbar-color: var(--header);
}
::-webkit-scrollbar-thumb 
{
    background-color: var(--green);
    border-radius: 10px;
}
body 
{
    font-family: 'Rockwell', 'serif';
    align-items: center;
    
    background-image: url(images/timgad.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

header
{
    display: flex;
    justify-content: center;
    color: hsl(38, 99%, 70%);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.form 
{
    
    align-items: center;
    width: 60%;
    padding: 20px 0px 20px 0px;
    color: hsl(38, 99%, 70%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border-color: hsl(38, 99%, 70%);
    border: 3px solid hsl(38, 99%, 70%);
    margin-left: 20%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
label 
{
    display: block;
    margin-left: 10%;
}
input
{
    align-items: center;
    width:60%; 
    line-height: 2; 
    border-radius: 20px;
    margin-left: 25%;
    margin-bottom: 1%;
    font-size: 15px;
    opacity: 0.6;
    outline: none;
}
select{
    align-items: center;
    width:60%; 
    line-height: 2; 
    border-radius: 20px;
    margin-left: 25%;
    margin-bottom: 1%;
    font-size: 15px;
    opacity: 0.6;
}
button{
    align-items: center;
    width:60%; 
    line-height: 2; 
    border-radius: 20px;
    margin-left: 25%;
    margin-bottom: 1%;
    font-size: 15px;
    opacity: 0.6;
}
input:focus, input:hover
{
    opacity: 1;
    width: 61%;
}
input[type="radio"]
{
    display: inline-block;
}
#submit
{
 margin-top: 5%;
 margin-left: 20%;
 padding: 10px 20px;
 font-size: 15px;
 font-weight: bold;
 color:white;
 background-color:var(--green);
 border: none;
 border-radius: 10px;
 cursor: pointer;
 opacity: 0.8;
}
#submit:hover
{
 opacity: 1;
 transform: scale(1);
 border-bottom: 2px solid var(--borderGreen--);
 box-shadow: 0 5px 5px var(--shadowGreen--);
 font-size: 18px;
}
 #logo{
    float: left;
    width: 20%;
    height: 30%;
    margin-left: -2%;
    margin-top: -5%;
}