:root 
{
  --background: #e0c9a5;
  --header: hsl(38, 99%, 70%);
  --headerScroll: hsla(37, 63%, 64%, 0.726);
  --white: #ffffff;
  --green: #4CAF50;
  --borderGreen: rgb(42, 139, 3);
  --shadowGreen: rgba(5, 201, 64, 0.5);
  --grey: #6e6e6e;
  --gold: #ddb067;
  --dark: #0F172B;
  --font-1: "Poppins", sans-serif;
  --font-2: 'system-ui';
  --font-3: 'Rockwell', serif;
}
body
{
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: var(--background);
  background-size: cover;
  overflow: hidden;
}
.header
{
  position: fixed;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 99.9%;
  top: 0;
  left: 0;
  height: 10%;
  background-color: var(--gold);
}
button 
{
  margin-top: 5%;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 15px;
  font-family: var(--font-2);
  color: var(--white);
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  align-self: flex-end;
}
button:hover
{
  opacity: 1;
  transform: scale(1);
  border-bottom: 2px solid var(--borderGreen);
  box-shadow: 0 5px 5px var(--shadowGreen);
}
.sectionGauche
{
  display: flex;
  align-items: center;
}
#logo
{
  width: 40%;
  height: 70%;
  padding: 2% 2%;
}
.sectionDroite
{
  display: inline-flex;
  align-items: center;
  margin-left: 20%;
}
.sectionDroite form
{
  position: absolute;
  display: flex;
  margin-left: -27%;
}
.sectionDroite input
{
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 99%;
  background-size: 20%;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  outline: none;
  opacity: 0.5;
  margin-right: 5%;
  padding: 3% 20%;
}
.sectionDroite input:focus 
{
  opacity: 1;
  width: 200px;
}
.sectionDroite button
{
  margin-top: 0.8%;
  padding: 5% 10%;
}
nav
{
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  width: 8%;
  height: 90%;
  background: var(--gold);
  font-family: var(--font-2);
  font-size: 15px;
  overflow: hidden;
  transition: 0.5s;
}
nav:hover
{
  width: 17%;
  transition: 1s;
}
nav ul 
{
  position: absolute;
  top: 10;
  margin-left: -10%;
  width: 100%;
}
nav ul li
{
  position: relative;
  list-style: none;
  left: -5%;
  background-color: var(--headerScroll);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
nav ul li:hover
{
  background-color: var(--white);
}
nav ul li a 
{
  display: table;
  position: relative;
  text-decoration: none;
  color: var(--dark);
  opacity: 0.8;
  font-size: 17px;
  padding: 20px;
}
nav ul li a:hover
{
  opacity: 1;
  background: var(--white);
  border-radius: 10px;
}
nav .img-item
{
  position: relative;
  display: block;
  margin-left: -5%;
  min-width: 30px;
  height: 30px;
}
nav .nav-item 
{
  position: fixed;
  display: block;
  padding: 0 20%;
  height: 30%;
  line-height: 50%;
  margin-top: -1%;
  margin-left: -15%;
  opacity: 0;
  transition: opacity 0.5s;
}
nav:hover .nav-item 
{
  opacity: 1;
}
.nav-logo
{
  margin-bottom: 20px;
}
.nav-logout
{
  margin-top: 100px;
}
.gestion 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  margin-top: 7%;
  margin-left: 15%;
  transition: margin-left 1.5s;
  width: 80%; 
  height: 20%;
}
nav:hover ~ .gestion 
{
  margin-left: 18%;
  transition: margin-left 1s;
}
.PackGestion 
{
  position: relative;
  margin-bottom: 3%;
  border-radius: 20px;
  text-align: left;
  background: var(--gold);
  border-color: var(--header);
  border-style: bold;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  padding: 3% 4.5%;
  width: 40%;
  font-family: var(--font-2);
}
.PackGestion:hover 
{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}
.PackGestion a button 
{
  position: absolute;
  top: 50%;
  right: 4%; 
}