
body
{
    width: 100%;
    height: 100%;
    padding: 0%;
    padding-left: 0%;
    padding-top: 0%;
    align-items: center;
    background-image:  url(Sahara.png) ;
    background-repeat: no-repeat;
    background-size: cover;
}
/*#dynamicImageCover
{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}*/
.header
{
    position: absolute;
    background-color: hsla(38, 99%, 70%, 0.753);
    width: 99.9%;
    top:0%;
    left: 0%;
    height: 10%;
    position: fixed;
    display: inline-flex;
}
#activia
{
    position: relative;
    background-color: #F6FBF4;
    border-radius: 50%;
    width: 7%;
    height: 70%;
    margin-top: 1%;
    margin-left: 3%;
}
#name
{
    position: relative;
    margin-top: 1.5%;
    margin-left: 0.5%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}
#search
{
    position: relative;
    align-items: center;
    margin-top: 1.3%;
    margin-left: 13%;
    width: 90vh;
    height: 50%;
    border-style: hidden;
    border-radius: 15px;
}
#menu

aside{
    background-color: #FEC868;
}


